.productdisplay{
    display: flex;
    margin: 50px 70px;
    gap:100px;
}
.productdisplay-img-list{
    display: flex;
    
    gap:16px;
}
.productdisplay-img-list img{
    height: 80px;
    border: solid rgb(210, 208, 208) 1px;
    padding: 20px;
}
.productdisplay-main-img{
    width: 700px;
    
}
.productdisplay-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    

}
.productdisplay-right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;

}
.productdisplay-right h1{
    color: #3d3d3d;
    font-size:40px;
    font-weight:700;
}
.productdisplay-right-star{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size:16px;
}
.productdisplay-right-prices{
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}
.productdisplay-right-price-old{
    color: #818181;
    text-decoration: line-through;

}
.productdisplay-right-prices-new{
    color:#ff4141;
}
.productdisplay-right button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #ff4141;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor:pointer;
}
.productdisplay-right button:active{
    background: #fc8b8b;
}